.warna1{
    background-color: #65B741;
}

.warna2{
    background-color: #27005D;
}

.warna3{
    background-color: #3081D0;
}

.warna4{
    background-color: rgb(24, 1, 66);
}

.banner{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../image/ps.jpg');
}

.highlighted-kategori{
    height: 250px;
}

.kategori-headset{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../image/headset.jpg');
    background-size:cover;
    background-position: center;
}

.kategori-keyboard{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../image/keyboard.jpg');
    background-size:cover;
    background-position: center;
}

.kategori-mouse{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../image/mouse.jpg');
    background-size:cover;
    background-position: center;
}

.no-decoration{
    text-decoration: none;
    color: white;
}

.no-decoration:hover{
    color: #27005D;
}

.text-size{
    font-size: 22px;
    color: #27005D;
}

.image-box{
    height: 250px;
}

.image-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.content-subscribe{
    background-color: rgb(24, 1, 66);
}

.content-subscribe a{
    color: #fff;
}

.banner-produk{
    height: 45vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../image/ps.jpg');
    background-position: 1% 5%;
}

.produk-terkait-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}